<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--<script src="https://api.labelbox.com/static/labeling-api.js"></script>-->
<link rel="stylesheet" href="app.component.scss" />

<div class="app flex-grow">
  <div class="flex-column sidebar">
    <div class="navbar">
      <i
        class="material-icons"
        style="color: #9b9b9b; cursor: pointer;"
        onclick="goHome()"
        >home</i
      >
    </div>

    <div id="questions"></div>

    <div class="flex-grow"></div>
    <div style="display: flex;">
      <button sbbButton
        secondary
        style=" width: 100%;"
        onclick="skip()"
        >Skip</button
      >
      <button sbbButton
      primary
      style="width: 100%;"
      onclick="submit()"
      >Submit</button
    >
    </div>
   
  </div>

  <div class="flex-grow flex-column content">
    <div style="display: flex; align-items: center; padding: 10px 0px">
      <i
        id="back"
        class="material-icons"
        style="color: #9b9b9b; margin-left: -5px; opacity: 0.2;"
        onclick="goBack()"
        >keyboard_arrow_left</i
      >
      <div style="color: #717171; padding: 0px 10px;" id="externalid">
        Label this asset
      </div>
      <i
        id="next"
        class="material-icons"
        style="color: #9b9b9b; margin-left: -5px; opacity: 0.2;"
        onclick="goNext()"
        >keyboard_arrow_right</i
      >
    </div>
    <div id="asset">loading...</div>
  </div>
</div>